# Run artefacts
*.log

# Visual Studio project artefacts
ALL_BUILD.*
*.filters
*.sln
*.vcxproj*
*.user
.vs/
.idea/
ChangeLog.d
*.tcl

# Build artefacts
Debug/
Release/
*.pdb
*.exp
*.ilk
*.obj
*.pc
*.tmp

# CMake artefacts
CMakeFiles/
CMakeCache.txt

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
